html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-top:2rem;
    margin-left:10rem;
    margin-right:10rem;
    margin-bottom: -2rem;
    padding:1em;
    border:2px solid #fff461;
    text-align:center;
    background:#fff461;
    border-radius: 15px;
}
.m-b-md2 {
    border:2px solid green;
    text-align:center;
    background:green;
    padding:5rem;
    color:yellow;
    border-radius: 15px;
}
.m-b-md2 input{
    background-color:#fff461;
    color:green;
    font-size:30px;
}
.btn-acceso{
    display:inline-block;
    font-weight:400;
    color:#005822;
    text-align:center;
    vertical-align:middle;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    background-color:#fff461;
    border:1px solid transparent;
    padding:.375rem .75rem;
    font-size:1rem;line-height:1.5;
    border-radius:.25rem;
    transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out}
}
